meshtastic
pubsub
datetime
pyephem
requests
maidenhead
beautifulsoup4
dadjokes
geopy
schedule
wikipedia
googlesearch-python
itsdangerous
psutil
redis
fastapi
uvicorn
jinja2
pycoingecko
python-multipart
websockets
envyaml
python-telegram-bot
